/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */
nav.simple-mega-menu > .block-editor-inner-blocks > .block-editor-block-list__layout > .block-editor-block-list__block.wp-block.smm-item {
  position: static;
}
nav.simple-mega-menu > .block-editor-inner-blocks > .block-editor-block-list__layout > .block-editor-block-list__block.wp-block.smm-item > .mega-menu-item__title {
  position: relative;
  height: 100%;
}
nav.simple-mega-menu > .block-editor-inner-blocks > .block-editor-block-list__layout > .block-editor-block-list__block.wp-block.smm-item.is-highlighted > .block-editor-rich-text__editable.mega-menu-item__title.rich-text:before, nav.simple-mega-menu > .block-editor-inner-blocks > .block-editor-block-list__layout > .block-editor-block-list__block.wp-block.smm-item.is-highlighted ~ .is-multi-selected > .block-editor-rich-text__editable.mega-menu-item__title.rich-text:before, nav.simple-mega-menu > .block-editor-inner-blocks > .block-editor-block-list__layout > .block-editor-block-list__block.wp-block.smm-item:not([contenteditable=true]):focus > .block-editor-rich-text__editable.mega-menu-item__title.rich-text:before, nav.simple-mega-menu > .block-editor-inner-blocks > .block-editor-block-list__layout > .block-editor-block-list__block.wp-block.smm-item.is-selected > .block-editor-rich-text__editable.mega-menu-item__title.rich-text:before {
  bottom: 0;
  content: "";
  left: 0;
  outline-color: var(--wp-admin-theme-color);
  outline-offset: calc(-1 * var(--wp-admin-border-width-focus) / var(--wp-block-editor-iframe-zoom-out-scale, 1));
  outline-style: solid;
  outline-width: calc(var(--wp-admin-border-width-focus) / var(--wp-block-editor-iframe-zoom-out-scale, 1));
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
nav.simple-mega-menu > .block-editor-inner-blocks > .block-editor-block-list__layout > .block-editor-block-list__block.wp-block.smm-item.is-highlighted > .block-editor-rich-text__editable.mega-menu-item__title.rich-text:after, nav.simple-mega-menu > .block-editor-inner-blocks > .block-editor-block-list__layout > .block-editor-block-list__block.wp-block.smm-item.is-highlighted ~ .is-multi-selected > .block-editor-rich-text__editable.mega-menu-item__title.rich-text:after, nav.simple-mega-menu > .block-editor-inner-blocks > .block-editor-block-list__layout > .block-editor-block-list__block.wp-block.smm-item:not([contenteditable=true]):focus > .block-editor-rich-text__editable.mega-menu-item__title.rich-text:after, nav.simple-mega-menu > .block-editor-inner-blocks > .block-editor-block-list__layout > .block-editor-block-list__block.wp-block.smm-item.is-selected > .block-editor-rich-text__editable.mega-menu-item__title.rich-text:after {
  transform: rotate(-135deg) translate(calc(var(--arrow-size) / -4), calc(var(--arrow-size) / -4));
}
nav.simple-mega-menu > .block-editor-inner-blocks > .block-editor-block-list__layout > .block-editor-block-list__block.wp-block.smm-item > .block-editor-inner-blocks {
  display: none;
}
nav.simple-mega-menu:not(.is-mobile) > .block-editor-inner-blocks > .block-editor-block-list__layout {
  display: flex;
  gap: var(--mega-menu-gap, 0);
}
nav.simple-mega-menu:not(.is-mobile) > .block-editor-inner-blocks > .block-editor-block-list__layout > .block-editor-block-list__block.wp-block.smm-item.is-selected > .block-editor-inner-blocks, nav.simple-mega-menu:not(.is-mobile) > .block-editor-inner-blocks > .block-editor-block-list__layout > .block-editor-block-list__block.wp-block.smm-item.has-child-selected > .block-editor-inner-blocks {
  position: absolute;
  z-index: 5;
  display: block;
  background-color: var(--wp--preset--color--base);
}
nav.simple-mega-menu:not(.is-mobile) > .block-editor-inner-blocks > .block-editor-block-list__layout > .block-editor-block-list__block.wp-block.smm-item.is-selected > .block-editor-inner-blocks > .block-editor-block-list__layout > .block-editor-block-list__block.is-highlighted:after,
nav.simple-mega-menu:not(.is-mobile) > .block-editor-inner-blocks > .block-editor-block-list__layout > .block-editor-block-list__block.wp-block.smm-item.is-selected > .block-editor-inner-blocks > .block-editor-block-list__layout > .block-editor-block-list__block.is-highlighted ~ .is-multi-selected:after,
nav.simple-mega-menu:not(.is-mobile) > .block-editor-inner-blocks > .block-editor-block-list__layout > .block-editor-block-list__block.wp-block.smm-item.is-selected > .block-editor-inner-blocks > .block-editor-block-list__layout > .block-editor-block-list__block:not([contenteditable=true]):focus:after,
nav.simple-mega-menu:not(.is-mobile) > .block-editor-inner-blocks > .block-editor-block-list__layout > .block-editor-block-list__block.wp-block.smm-item.is-selected > .block-editor-inner-blocks > .block-editor-block-list__layout > .block-editor-block-list__block.is-selected:after,
nav.simple-mega-menu:not(.is-mobile) > .block-editor-inner-blocks > .block-editor-block-list__layout > .block-editor-block-list__block.wp-block.smm-item.is-selected > .block-editor-inner-blocks > .block-editor-block-list__layout > .block-editor-block-list__block.has-child-selected:after, nav.simple-mega-menu:not(.is-mobile) > .block-editor-inner-blocks > .block-editor-block-list__layout > .block-editor-block-list__block.wp-block.smm-item.has-child-selected > .block-editor-inner-blocks > .block-editor-block-list__layout > .block-editor-block-list__block.is-highlighted:after,
nav.simple-mega-menu:not(.is-mobile) > .block-editor-inner-blocks > .block-editor-block-list__layout > .block-editor-block-list__block.wp-block.smm-item.has-child-selected > .block-editor-inner-blocks > .block-editor-block-list__layout > .block-editor-block-list__block.is-highlighted ~ .is-multi-selected:after,
nav.simple-mega-menu:not(.is-mobile) > .block-editor-inner-blocks > .block-editor-block-list__layout > .block-editor-block-list__block.wp-block.smm-item.has-child-selected > .block-editor-inner-blocks > .block-editor-block-list__layout > .block-editor-block-list__block:not([contenteditable=true]):focus:after,
nav.simple-mega-menu:not(.is-mobile) > .block-editor-inner-blocks > .block-editor-block-list__layout > .block-editor-block-list__block.wp-block.smm-item.has-child-selected > .block-editor-inner-blocks > .block-editor-block-list__layout > .block-editor-block-list__block.is-selected:after,
nav.simple-mega-menu:not(.is-mobile) > .block-editor-inner-blocks > .block-editor-block-list__layout > .block-editor-block-list__block.wp-block.smm-item.has-child-selected > .block-editor-inner-blocks > .block-editor-block-list__layout > .block-editor-block-list__block.has-child-selected:after {
  bottom: 0;
  content: "";
  left: 0;
  outline-color: var(--wp-admin-theme-color);
  outline-offset: calc(-1 * var(--wp-admin-border-width-focus) / var(--wp-block-editor-iframe-zoom-out-scale, 1));
  outline-style: solid;
  outline-width: calc(var(--wp-admin-border-width-focus) / var(--wp-block-editor-iframe-zoom-out-scale, 1));
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
nav.simple-mega-menu:not(.is-mobile) > .block-editor-inner-blocks > .block-editor-block-list__layout > .block-editor-block-list__block.wp-block.smm-item.is-selected.has-custom-width > .block-editor-inner-blocks, nav.simple-mega-menu:not(.is-mobile) > .block-editor-inner-blocks > .block-editor-block-list__layout > .block-editor-block-list__block.wp-block.smm-item.has-child-selected.has-custom-width > .block-editor-inner-blocks {
  width: var(--mega-menu-width, 100%);
  left: var(--mega-menu-left, 0);
}
nav.simple-mega-menu:not(.is-mobile) > .block-editor-inner-blocks > .block-editor-block-list__layout > .block-editor-block-list__block.wp-block.smm-item.is-selected.has-viewport-width > .block-editor-inner-blocks, nav.simple-mega-menu:not(.is-mobile) > .block-editor-inner-blocks > .block-editor-block-list__layout > .block-editor-block-list__block.wp-block.smm-item.has-child-selected.has-viewport-width > .block-editor-inner-blocks {
  left: var(--editor-content-left, 0);
  width: var(--editor-content-width, 100%);
}
nav.simple-mega-menu:not(.is-mobile) > .block-editor-inner-blocks > .block-editor-block-list__layout > .block-editor-block-list__block.wp-block.smm-item > .mega-menu-item__title {
  display: flex;
  align-items: center;
}
nav.simple-mega-menu:not(.is-mobile) > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block-navigation-item,
nav.simple-mega-menu:not(.is-mobile) > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block-site-title,
nav.simple-mega-menu:not(.is-mobile) > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block-site-logo,
nav.simple-mega-menu:not(.is-mobile) > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block-search,
nav.simple-mega-menu:not(.is-mobile) > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block-social-links {
  display: flex;
  align-items: center;
}
nav.simple-mega-menu.is-mobile {
  position: static !important;
}
nav.simple-mega-menu.is-mobile > .block-editor-inner-blocks {
  position: static;
}
nav.simple-mega-menu.is-mobile > .block-editor-inner-blocks > .block-editor-block-list__layout {
  position: absolute;
  inset: 0;
  background-color: var(--wp--preset--color--base, rgba(255, 255, 255, 0.8784313725));
  height: 100dvh;
  margin: 0;
  padding-block: 4rem 1rem;
  padding-inline: 1rem;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}
nav.simple-mega-menu.is-mobile > .block-editor-inner-blocks > .block-editor-block-list__layout > .block-editor-block-list__block.wp-block.smm-item {
  display: flex;
  flex-direction: column;
}
nav.simple-mega-menu.is-mobile > .block-editor-inner-blocks > .block-editor-block-list__layout > .block-editor-block-list__block.wp-block.smm-item.is-selected > .block-editor-inner-blocks, nav.simple-mega-menu.is-mobile > .block-editor-inner-blocks > .block-editor-block-list__layout > .block-editor-block-list__block.wp-block.smm-item.has-child-selected > .block-editor-inner-blocks {
  display: block;
  background-color: var(--wp--preset--color--base);
}
nav.simple-mega-menu.is-mobile > .block-editor-inner-blocks > .block-editor-block-list__layout > .block-editor-block-list__block.wp-block.smm-item.is-selected > .block-editor-inner-blocks img, nav.simple-mega-menu.is-mobile > .block-editor-inner-blocks > .block-editor-block-list__layout > .block-editor-block-list__block.wp-block.smm-item.has-child-selected > .block-editor-inner-blocks img {
  display: none;
}
nav.simple-mega-menu.is-mobile > .block-editor-inner-blocks > .block-editor-block-list__layout > .block-editor-block-list__block.wp-block.smm-item.is-selected > .block-editor-inner-blocks ul, nav.simple-mega-menu.is-mobile > .block-editor-inner-blocks > .block-editor-block-list__layout > .block-editor-block-list__block.wp-block.smm-item.has-child-selected > .block-editor-inner-blocks ul {
  list-style: none;
  padding-left: 0;
}
nav.simple-mega-menu.is-mobile:has(input[id^=burger-input-smm][type=checkbox]:not(:checked)) > .block-editor-inner-blocks > .block-editor-block-list__layout {
  display: none;
}

header:has(nav.simple-mega-menu.is-mobile) :where(.block-editor-block-list__layout) {
  position: static;
}
header:has(nav.simple-mega-menu.is-mobile) .wp-block-site-logo {
  z-index: 100;
}

.block-editor-block-inspector .components-base-control {
  margin-bottom: 0;
}

.block-editor-block-inspector .components-base-control:last-child {
  margin-bottom: 0;
}