/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-simple-mega-menu-mega-menu-nav.simple-mega-menu {
	position: static;
	display: grid;
	grid-template-columns: 1fr auto;
	> .smm-burger__wrapper {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		padding: var(--burger-padding);
		label#burger-icon {
			--bg-color: black;
			--slice-height: 2px;
			--transition-speed: 250ms;
			--burger-height: 18px;
			--burger-width: 21px;

			position: relative;
			display: block;

			width: var(--burger-width);
			height: var(--burger-height);
			transition: all var(--transition-speed) ease;
			cursor: pointer;
			&:before,
			&:after {
				content: "";
				position: absolute;
				display: block;
				width: 100%;
				height: var(--slice-height);
				border-radius: 5rem;
				background-color: var(--bg-color);
				transform-origin: center center;
				transition: all var(--transition-speed) ease;
			}
			&:before {
				top: 0;
			}
			&:after {
				top: calc(100% - var(--slice-height))
			}
			#burger-input {
				appearance: none;
				position: absolute;
				display: inline-block;
				margin: 0;
				cursor: pointer;
				top: calc(50% - var(--slice-height) / 2);
				left: 0;
				opacity: var(--slice-opacity);
				width: 100%;
				height: var(--slice-height);
				border-radius: 5rem;
				background-color: var(--bg-color);
				transform-origin: center center;
				transition: all var(--transition-speed) ease;
			}
			&:has(#burger-input:checked) {
				transform: rotate(90deg);
				&:before {
					transform: rotate(225deg);
					top: calc(50% - var(--slice-height) / 2);
				}
				&:after {
					transform: rotate(-225deg);
					top: calc(50% - var(--slice-height) / 2);
				}
				#burger-input {
					width: var(--slice-height);
					left: calc(50% - var(--slice-height) / 2);
				}
			}
		}

	}
}

// .simple-mega-menu {
// 	&__nav {
// 		background-color: #f8f8f8;
// 		padding: 10px;
// 	}

// 	&__list {
// 		list-style-type: none;
// 		margin: 0;
// 		padding: 0;
// 		display: flex;
// 		flex-wrap: wrap;
// 	}

// 	.wp-block-navigation-item {
// 		margin: 0 10px;

// 		&__content {
// 			color: #333;
// 			text-decoration: none;
// 			font-weight: bold;

// 			&:hover {
// 				color: #0073aa;
// 			}
// 		}
// 	}

// 	.wp-block-navigation-submenu {
// 		position: relative;

// 		&__toggle {
// 			cursor: pointer;
// 		}

// 		&__content {
// 			display: none;
// 			position: absolute;
// 			top: 100%;
// 			left: 0;
// 			background-color: #fff;
// 			box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
// 			padding: 10px;
// 			min-width: 200px;
// 		}

// 		&:hover .wp-block-navigation-submenu__content {
// 			display: block;
// 		}
// 	}
// }
