/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 */

 //* li element
.smm-item {
	display: block;
	list-style-type: none;
	margin: 0;
	padding: 0;
	//* Label
	.mega-menu-item__title {
		--arrow-border: var(--arrow-thickness) solid var(--wp--preset--color--contrast);
		display: flex;
		align-items: center;
		cursor: pointer;
		position: relative;
		input[type="checkbox"] {
			position: absolute;
			top: -5px;
			left: -5px;
			width: 0px;
			height: 0px;
			margin: 0;
			appearance: none;
			visibility: hidden;
		}
		&:after {
			content: '';
			width: var(--arrow-size);
			height: var(--arrow-size);
			border-right: var(--arrow-border);
			border-bottom: var(--arrow-border);
			margin-left: 0.5rem;
			transform: rotate(45deg) translate(calc(var(--arrow-size) / -6), calc(var(--arrow-size) / -6));
			transition: all 250ms ease;
		}
	}
}
