/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 */
.smm-item {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.smm-item .mega-menu-item__title {
  --arrow-border: var(--arrow-thickness) solid var(--wp--preset--color--contrast);
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.smm-item .mega-menu-item__title input[type=checkbox] {
  position: absolute;
  top: -5px;
  left: -5px;
  width: 0px;
  height: 0px;
  margin: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  visibility: hidden;
}
.smm-item .mega-menu-item__title:after {
  content: "";
  width: var(--arrow-size);
  height: var(--arrow-size);
  border-right: var(--arrow-border);
  border-bottom: var(--arrow-border);
  margin-left: 0.5rem;
  transform: rotate(45deg) translate(calc(var(--arrow-size) / -6), calc(var(--arrow-size) / -6));
  transition: all 250ms ease;
}